.button {
    display: inline-flex;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: calc(var(--border-radius) / 2);
    cursor: pointer;

    @media (prefers-reduced-motion: no-preference) {
        transition: color 200ms ease-in-out;
        transition-property: color, background-color, text-underline-offset;
    }

    &[target="_blank"]::after {
        content: "‎ 🡵";
    }
}

.button.primary {
    color: var(--color-bg);
    text-decoration: none;
    background-color: var(--color-brand);

    &:hover {
        background-color: var(--color-text);
        color: var(--color-bg);
    }
}

.button.secondary {
    border: 1px solid var(--color-border);
    color: var(--color-brand);
    text-decoration: none;
    background-color: oklch(from var(--color-bg) l c h / 0.25);
    backdrop-filter: blur(20px);

    &:hover {
        background-color: oklch(from var(--color-brand) l c h / 0.4);
        color: currentColor;
    }
}

.button.link {
    color: currentColor;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    text-decoration-color: var(--color-brand);

    &:hover {
        color: var(--color-brand);
        text-underline-offset: 12px;
    }
}
