.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.25rem;
    container-type: inline-size;
    container-name: --products;

    &>:first-child {
        @container (width > 600px) {
            grid-column: span 1;
            grid-row: span 2;
        }
    }

    article {
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);
        overflow: clip;

        @media (prefers-reduced-motion: no-preference) {
            transition: box-shadow 150ms ease-in-out;
        }

        &:hover {
            box-shadow: 0px 0px 20px var(--color-brand);
        }

        a {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    figure {
        background: var(--gradient-primary);
        flex-grow: 1;
        margin: 0;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 90%;
            height: 90%;
            object-fit: contain;
            object-position: center;
        }
    }

    .card-body {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        border-block-start: 1px solid var(--color-border);
        background-color: var(--color-fg);
    }

    h3 {
        margin: 0;
        text-box-trim: trim-both;
    }

    .price {
        font-weight: 800;
        font-size: 1.1rem;
        color: var(--color-brand);
        text-wrap: nowrap;
    }
}
